extends ../layout


block content
  if (errorMessage)
    div.user-message.user-message--error #{errorMessage}
  div.mdl-grid(style='justify-content:center')
    div.mdl-cell.mdl-cell--12-col 
    div.mdl-cell.mdl-cell--4-col(style='align-items:center')
      div.mdl-card.mdl-shadow--16dp
        div.mdl-card.card-content(style='height:0')
          form(action="/reset", method="POST")
            div.mdl-card.card-cell(style='align-items:center')
              div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input(type="hidden", name="_csrf", value=csrfToken)
                input.mdl-textfield__input(type="text",name="email", id="email")
                label.mdl-textfield__label(for="email") E-mail
              button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(type="submit") Reset password