extends ../layout

block content
<<<<<<< HEAD
<<<<<<< HEAD
  div.mdl-grid
    div.mdl-cell.mdl-cell--12-col 
    div.mdl-cell.mdl-cell--12-col
      div.mdl-card.mdl-shadow--2dp
        form(action="/signup", method="POST")
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input(type="hidden", name="_csrf", value=csrfToken)
            input.mdl-textfield__input(type="text",name="email", id="email")
            label.mdl-textfield__label(for="email") E-mail
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input(type="password", name="password", id="password")
            label.mdl-textfield__label(for="password") Password
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input(type="password", name="confirmpassword", id="confirmpassword")
            label.mdl-textfield__label(for="confirmpassword") Confirm password
          button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(type="submit") Sign up
=======
  if (errorMessage)
    div.user-message.user-message--error #{errorMessage}
  div.mdl-grid(style='justify-content:center')
    div.mdl-cell.mdl-cell--12-col 
    div.mdl-cell.mdl-cell--4-col(style='align-items:center')
      div.mdl-card.mdl-shadow--16dp
        div.mdl-card.card-content
          form(action="/signup", method="POST")
            div.mdl-card.card-cell(style='align-items:center')
              div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input(type="hidden", name="_csrf", value=csrfToken)
                input.mdl-textfield__input(type="text",name="email", id="email")
                label.mdl-textfield__label(for="email") E-mail
              div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input.mdl-textfield__input(type="password", name="password", id="password")
                label.mdl-textfield__label(for="password") Password
              div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input.mdl-textfield__input(type="password", name="confirmpassword", id="confirmpassword")
                label.mdl-textfield__label(for="confirmpassword") Confirm password
              button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(type="submit") Sign up
>>>>>>> a002784f9860b48564c2825b4149d662a5d15298
=======
  div.mdl-grid
    div.mdl-cell.mdl-cell--12-col 
    div.mdl-cell.mdl-cell--12-col
      div.mdl-card.mdl-shadow--2dp
        form(action="/signup", method="POST")
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input(type="hidden", name="_csrf", value=csrfToken)
            input.mdl-textfield__input(type="text",name="email", id="email")
            label.mdl-textfield__label(for="email") E-mail
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input(type="password", name="password", id="password")
            label.mdl-textfield__label(for="password") Password
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input(type="password", name="confirmpassword", id="confirmpassword")
            label.mdl-textfield__label(for="confirmpassword") Confirm password
          button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(type="submit") Sign up
>>>>>>> parent of 039df21... added password recovery
