extends layout

block layout-content
  //- body.bg-pink
  //-   div.container
  //-     div.row 
  //-       div.col 
  //-         p data page
  #map
  #leg_title 
    span#leg_items Map Legend
  #leg