extends layout.pug 

block content
    div.mdl-grid
        div.mdl-cell.mdl-cell--12-col 
        div.mdl-cell.mdl-cell--12-col
            if items.length > 0
                each item in items
                    div.mdl-cell.mdl-cell--2-col
                        div.demo-card-square.mdl-card.mdl-shadow--2dp
                            p #{item.nid}
                            p #{item.dataValues.geom.coordinates}
                            p #{item.txt}
                            p #{item.userid}
                            div.card__actions
                              a.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(href="/geo/"+item.nid) Details
                              a.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(href="/edit-geo/"+item.nid+"?edit=true") Edit
                              