extends layout

block content
  div.mdl-grid
    div.mdl-cell.mdl-cell--12-col 
    div.mdl-cell.mdl-cell--12-col
      div.mdl-card.mdl-shadow--2dp
        h1 home
        if (isAuthenticated)
          h1 you are logged in