extends layout
  
block content
  #mapid(style="height:100%")
  script(src="scripts/mp.js")
  script.
    const markers =[] 
    const mymap = L.map("mapid").setView([32.302804, -106.727800], 13);
    // tile layer
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: '.',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                accessToken: str()
            }).addTo(mymap);
    //- function onEachFeature(feature, layer) {
    //-   if (feature.properties && feature.properties.txt) {
    //-       layer.bindPopup(feature.properties.txt);
    //-       }
    //-   }
    const geojsonfeature = !{items}
    L.geoJSON(geojsonfeature, {
      
      pointToLayer: function(feature, latlng){
        return new L.CircleMarker(latlng)
      },
      onEachFeature: function(feature, layer){
        layer.bindPopup('<p>note:'+feature.properties.txt+'</p>'+'<p>created by: '+ feature.properties.email+'</p>'+'<p>public note?: '+feature.properties.public+'</p>')
      },
    }).addTo(mymap)
    
    const geobounds = L.geoJSON(geojsonfeature).addTo(mymap)
    mymap.fitBounds(geobounds.getBounds())

    
