block variables
doctype html
html
  head
    title #{title} 
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/style.css")
  body
    div#root
      block layout-content
        

