/* public/style.css */

:root{
    background-color: #4d5980;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 8rem;
}
  
.header {
    text-align: center;
    height: 6rem;
    border-bottom: 1px solid #333333;
    background-image: linear-gradient(to bottom right, #7387a0, whitesmoke);
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    transition: 0.2s;
    overflow: hidden;
  }

.header li{
    display: inline-block
}

.header a {
    display:block;
    padding: 30px 20px;
}

#jer-menu-div{
    height:100%;
}

#jer_menu_div a {
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
    color: #333333;
    height: 100%;
    display: block;
}

#mobileMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    float: right;

}

#mobileMenu .fa {
    font-size: 2.5rem;
    padding: 5px;
}


#headerControls{
    background: linear-gradient(#56638f,#434d70);
    width:100%;
    top:0px;
    left:0px;
    height:37px;
    color: #b3d9ff;
    padding: 1px 9px;
    z-index: 1000;
    margin-top: 6rem;
    position: fixed;
       
}

.layerList {
    display: inline-block;
    float: left;
    margin: 2px 5px;
    padding: 3px 1px;
}

iframe{
    height:415px;
}
.iframeDiv{

    width:100%;
    border:none;
}